/vendor/
/node_modules/

/public/hot
/public/storage
/storage/*.key
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

.env
.env.*
.phpunit.result.cache
.phpunit-watcher.cache

Homestead.json
Homestead.yaml
*.sublime-project
*.sublime-workspace
*.vscode/*
.idea
.DS_Store
Thumbs.db

# Log and debug output
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Composer
composer.lock
/public/build/assets/app-DVEPD-1b.css
/public/build/assets/app-zUa6g_L6.js
/public/build/assets/ApplicationLogo-H-Ezi2nC.js
/bootstrap/ssr/assets/Appointments-CkXIrzCf.js
/public/build/assets/Appointments-DXac_L1q.js
/public/build/assets/Appointments-DxzzN9QP.css
/bootstrap/ssr/assets/AuthenticatedLayout-C_bCNmYL.js
/public/build/assets/AuthenticatedLayout-D0PwpaaQ.js
/public/build/assets/ConfirmPassword-CYyAIOC9.js
/bootstrap/ssr/assets/Dashboard-A9Ad1JMG.js
/public/build/assets/Dashboard-HVOmMJAd.js
/public/build/assets/DeleteUserForm-DXBXjmCW.js
/docker-compose.yml
/bootstrap/ssr/assets/Edit-BDGTYAiF.js
/public/build/assets/Edit-DoV9eq4q.js
/public/build/assets/ForgotPassword-BI6uACOU.js
/public/build/assets/GuestLayout-3Ouv_sq6.js
/public/build/assets/index-3okxrnaG.js
/public/build/assets/index-CBPQZtZA.js
/public/build/assets/InputLabel-Dtyp1vf8.js
/public/build/assets/Login-BrgyzyKU.js
/public/build/assets/Modal-vDOnSOYM.js
/public/build/assets/Patients--1NgA-7D.js
/bootstrap/ssr/assets/Patients-pfLNVvgU.js
/public/build/assets/PrimaryButton-CdHy_s2d.js
/public/build/assets/ReactToastify-BEzrRqYo.css
/public/build/assets/ReactToastify-BUeXjY7_.js
/public/build/assets/Register--IUPlq6w.js
/public/build/assets/ResetPassword-BH1n0lf_.js
/public/build/assets/setPrototypeOf-DknrYCuq.js
/public/build/assets/TextInput-C7OaeoQK.js
/public/build/assets/transition-CsSnRHov.js
/public/build/assets/UpdatePasswordForm-5gJ_iRbY.js
/public/build/assets/UpdateProfileInformationForm-D_Wpx3Sl.js
/public/build/assets/VerifyEmail-BgV7qi9b.js
/public/build/assets/Welcome-DWX6Z37C.js
